* {
  padding: 0;
  margin: 0;
}
.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 24vh;
  left: -15px;
  padding: 0;
  z-index: 1;    
}
.nav-segment {
  display: flex;
  flex-direction: column;
  padding: 15px;  
  .choices {
    display: flex;
    flex-direction: row;
    height: 55px;
    position: relative;
    .pic-container {
      height: 55px;
      width: 55px;
      background-color: #b0b0b0;
      box-sizing: border-box;
      transition: all 1s;
      margin: 2px;
      overflow: hidden;
      position: absolute;
      top:0;
      left:0;
      z-index: 1;
      order: 2;
      border: 1px solid;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .af {
      img {
        width: 80% !important;
        height: 80% !important;
        margin: 10%;
      }
    }
  }
  
  .choices div:nth-child(1){
    z-index: 2;
  }
}

.nav-content {
  padding: 0;
  transition: 1s all ease;
  display: flex;
  flex-direction: column;
  button {
    margin: 0 17px;
    width: 55px;
    height: auto;
    border: 1px solid #7300ff;
    font-size: 18px;
    img{
      width: 66%;
      height: auto;
    }
  }
}
.title {
  color: white;
  text-align: center;
  font-family: 'AdamCG';
  display: none;
}
.active-choice {
  background-color: white !important;
  -webkit-box-shadow: inset 0px 0px 20px 10px rgba(115, 0, 255, 1);
  -moz-box-shadow: inset 0px 0px 20px 10px rgba(115, 0, 255, 1);
  box-shadow: inset 0px 0px 20px 10px rgba(115, 0, 255, 1);
  transition: all 1s;
  z-index: 2 !important;
  display: block !important;
  order: 1 !important;
}


.toggle{
  position: relative;
  height: 25px;
  width: 55px;
  margin-left: 17px;
  background: rgba(0, 0, 0, 0.3);
}
.toggle::after{
  content: attr(data-after);
  position: fixed;
  left: 17px;
  color: white;
}

@media only screen and (max-width: 1024px) {   
  .nav {
    width: 100vw;
    left: 0;
    top: 0;
    max-height: 85px;
    .nav-content{
      flex-direction: row; 
      padding-left: 15px; 
      .nav-segment{
        padding: 15px 0;
        .choices{
          height: auto;
          flex-direction: column;
        }
      }
      button{
        width: unset;
        margin: 15px;
        height: 55px;
        max-width: 276px;
      }
    }
  }
  .toggle{
    position: absolute;
    right: -12px;
    top: 83px;
    transform: translate(-48%, -50%);
  }
}
@-moz-document url-prefix(){
  .nav-segment{
    max-height: 80px;
  }
}