.runepage{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    img{
        max-width: 100%;
    }
    .row{
        div{
            justify-content: center;
            align-items: center;
            p{
                padding: 15px;
            }
        }
    }
}