.home{
    width: 90vw;
    margin: 0 5vw;    
    opacity: 0;
    .section{
        position: relative;
        color: white;
        .section-content{
            padding:35px 0;
        }
        .row{
            .centered{
                margin: 0 auto;
            }            
            .itembuild{
                display: none;
                
            }
            .sit-item{
                display: none;
                p{
                    padding: 15px;
                }             
            }
            .gameplay-section{
                display: none;
            }
            .ab-max{
                display: none;
            }            
        }        
    }
    .warning{
        display:none;
        position: fixed;
        top: 10%;
        left: 50%;
        margin: 0 auto;
        background-color: #ff00008a;
        color: white;
        transform: translate(-50%,-50%);
        border-radius: 18px;
        z-index: 2;  
        .disable-warning{
            cursor: pointer;
        }
    }
}
.build-title{
    color: black;
}
.center-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#runepages{
    background-color: rgba(0,0,0, 0.7);
}
#itembuilds{
    background-color: rgba(0,0,0, 0.9);
}
#situational{
    background-color: rgba(0,0,0, 0.7);
}
#gameplay{
    background-color: rgba(0,0,0, 0.9);
}
#tips{
    background-color: rgba(0,0,0, 0.7);
    h2{
    text-align: center;
    font-family: AdamCG;
    font-size: 30px;
    margin: 0 auto;
    }
    ul{
        list-style-type: none;
        width:80%;
        margin: 50px 10% 0;
        display: flex;
    flex-direction: column;
    align-items: center;
        li{
            font-size: 18px;
        }
    }
}
#matchups{
    background-color: rgba(0,0,0, 0.9);
}

@media only screen and (max-width:1024px){
    .home{
        width: 100vw;
        margin: 100px 0;
        overflow: hidden;
    }
}