{{ collection from="abilityMax"}}
<div id="{{ panelID }}" class="container-fluid">
    <div class="row">
        <div>
            {{ assets:maxfirst }}
            <img id="ab-first" src="{{ url }}">
            {{ /assets:maxfirst }}
            {{ assets:maxsecond }}
            <img id="ab-second" src="{{ url }}">
            {{ /assets:maxsecond }}
            {{ assets:maxthird }}
            <img id="ab-third" src="{{ url }}">
            {{ /assets:maxthird }}
        </div>
    </div>
</div>
{{ /collection }}