<div class="home">
    <div class="section container-fluid">
        <div class="section-content row" id="abilitymax">
            {{ partial:abilityMax }}
        </div>
    </div>
    <div class="section container-fluid">
        <div class="section-content row" id="runepages">
            {{ partial:runePanels }}
        </div>
    </div>
    <div class="section container-fluid">
        <div class="section-content row" id="itembuilds">
            {{ partial:itemBuilds }}
        </div>
    </div>
    <div class="section container-fluid">
        <div class="section-content row" id="situational">
            {{ partial:situationalItems }}
        </div>
    </div>
    <div class="section contaner-fluid">
        <div class="section-content row" id="matchups">
            {{ partial:matchups }}
        </div>
    </div>
</div>