<div class="home">
    <div class="warning col-lg-3 col-md-4 col-sm-xs-10 center-content">
        <p>
            You have chosen an...unusual combination. Results will still update,
            but be aware that what you try to do likely is bad. 
        </p>   
        <div class="disable-warning">X</div>     
    </div>  
    <div class="background">
        
    </div>  
    <div class="section container-fluid">
        <div class="section-content row" id="runepages">
            {{ partial:runePanels }}
        </div>
    </div>
    <div class="section container-fluid">
        <div class="section-content row" id="itembuilds">
            {{ partial:itemBuilds }}
        </div>
    </div>
    <div class="section container-fluid">
        <div class="section-content row" id="situational">
            {{ partial:situationalItems }}
        </div>
    </div>
    <div class="section container-fluid">
        <div class="section-content row" id="gameplay">
            {{ partial:gameplay }}
        </div>
    </div>
    <!--
    <div class="section container-fluid">
        <div class="section-content row" id="abilitymax">
            {{ partial:abilityMax }}
        </div>
    </div>
    -->
    <div class="section container-fluid">
        <div class="section-content row" id="matchups">            
            {{ partial:matchups }}
        </div>
    </div>
</div>